html, body, .container {
    height: 100%;    
}

.container {
   display: flex;
   align-items: center;
   justify-content: center; 
}

#status-bar {
    opacity: 0;
    transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
}